.App {
  text-align: center;
}
.cartWidget{
  margin: 10px;
  color: #fff;
  cursor: pointer;
}
main h1{
  margin: 10px;
}
.itemList{
  width: 100%;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  
}
.cardItem{
  max-width: 20rem;
  border-radius: 4px;
  padding: rem;
}
.cardItem img{
  width: 70%;
}
.itemDetailContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
