/* General */
.App {
  text-align: center;
}
main h1{
  margin: 10px;
}
.loadingGif{
  width: 300px;
}
.activeClass{
  text-decoration: underline;
}
.inactiveClass{
  text-decoration: none;
}
/* CARTWIDGET */
.cartWidget{
  display: flex;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}
.counterCart{
  display: block;
  font-size: 12px;
  padding: 4px 9px;
  border-radius: 100%;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.counterCartDisabled{
  display: none;
}
/* ITEM LIST */
.itemListContainer{
  width: 100%;
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  
}
.cardItem{
  height: 33rem;
  width: 20rem;
  border-radius: 4px;
  padding-bottom: 1rem;

}
.cardItem img{
  height: 150px;
}
/* ITEM DETAIL */
.itemDetailContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardDetailItem{
  width: 20rem;
}
.cardDetailItem img {
  height: 150px;
}
/* CART */
.cartTitle{
  margin: 20px;
  text-decoration: underline;
}
.cartProducts{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cartItem{
  height: 100px;
  width: 60%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;

}
.cartCardHeader{
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
}
.cartCardHeader h4{
  margin: 20px;
}

.cartCardBody{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

}
.cartCardBody img{
  height: 100%;

}
.cartCardInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.deleteProduct{
  margin: 0;
  height: 100%;
  width: 20%;
  justify-self: flex-end;
}
.deleteProduct button{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.emptyCart{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart h2, h3, img{
  margin: 15px;
}
.emptyCartIcon{
  width: 100px;
}
.formCart{
  width: 60%;
  margin: 0 auto;
}
.formCart input{
  text-align: center;
  background: none;
  border-bottom: 1.2px solid #000;
  outline: none;
}
